body {
    height: 49dvh;
    width: 100%;
    background: rgb(16, 16, 16);
    font-family: Helvetica, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}
header {
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100dvw;
}
.main {
    height: 49dvh;
    background: none;
}
.top {
    background-color: rgb(16, 16, 16);
    height: 10%;
    display: flex;
    width: 100dvw;
    position: sticky;
}
.Contact {
    position: relative;
    left: 83%;
    margin: 10px;
    padding: 10px;
    width: 7%;
    height: 5%;
    background-color: transparent;
    border-color: rgb(95, 12, 130);
    text-decoration: none;
    font-size: 130%;
    transition: background-color 0.2s;
}
.Contact:hover {
    background-color: rgb(95, 12, 130);
}
.logo {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    height: 75%;
    width: 4em;
}
.social-icon {
    position: relative;
    padding: 10px 15px 0px 10px;
    color: rgb(95, 12, 130);
    transition: color 0.2s;
    font-size: 300%;
    left: 82%;
}
.social-icon:hover {
    color: rgb(55, 6, 75);
}
.portrait {
    position: relative;
    height: 99%;
    top: 4.4em;
}
.information {
    position: relative;
    text-align:center;
    width: 80%;
}
.name {
    font-size: 7em;
    padding: 0px;
    font-family: Poppins, Arial, Helvetica; 
    -webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: black;
  }

.tagline {
    font-size: 1.7em;
    position: relative;
    bottom: 3em;
}
.about {
    font-size: 1.3em;
    text-decoration: none;
    line-height: 2em;
    position: relative;
    bottom: 1em;
}
.video {
    object-position: cover;
    object-fit: cover;
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    top: 3.5vw;
    left: 0;
}
.overlay {
    height: 100vh;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; 
    text-align: center;
}
.lowButtons {
    margin: 10px;
    padding: 10px;
    width: 8em;
    height: 4em;
    background-color: transparent;
    border-color: rgb(95, 12, 130);
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    transition: background-color 0.2s;
}
.lowButtons:hover {
    background-color: rgb(95, 12, 130);
}
.name2 {
    display: none;
}
@media only screen and (min-width: 1367px) and (max-width: 1650px) {
    .Contact {
        left: 80%;
    }
    .social-icon {
        left: 80%;
    }
    .portrait {
        height: 90%;
    }
    .information {
        left: 2%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .body {
        height: 100dvh;
    }
    .main {
        width: 100%;
        height: 100dvh;
    }
    .portrait {
        height: 90%;
        top: 0;
    }
    .video {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .Contact {
        left: 75%;
        width: 6em;
    }
    .social-icon {
        left: 75%;
    }
    .information {
        padding-left: 10px;
    }
    .name {
        display: none;
    }
    .name2 {
        display: block;
        position: relative;
        font-size: 7em;
        padding: 0px;
        margin: 0px;
        top: 10%;
        font-family: Poppins, Arial, Helvetica; 
        -webkit-text-stroke-color: black;
        text-align: center;
    }
    .overlay {
        top: 10%;
        height: 77%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    .body {
        height: 100dvh;
    }
    .main {
        width: 100%;
        height: 100dvh;
    }
    .portrait {
        height: 90%;
        top: 3%;
        right: 5%;
    }
    .video {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .Contact {
        left: 70%;
        width: 6em;
    }
    .social-icon {
        left: 70%;
    }
    .information {
        padding-left: 10px;
        width: 100%;
    }
    .name {
        display: none;
    }
    .name2 {
        display: block;
        position: relative;
        font-size: 6em;
        padding: 0px;
        margin: 0px;
        top: 10%;
        font-family: Poppins, Arial, Helvetica; 
        -webkit-text-stroke-color: black;
        text-align: center;
        right: 10%;
    }
    .overlay {
        top: 10%;
        height: 80%;
        width: 100%;
    }
}
@media only screen and (min-width: 811px) and (max-width: 999px) {
    .body {
        height: 100%;
        width: 100%;
        max-width: 999px;
    }
    .main {
        width: 100dvw;
        max-width: 999px;
        height: 100dvh;
        overflow: hidden;
    }
    .portrait {
        display: none;
    }
    .video {
        width: 100%;
        height: 100dvh;
    }
    .header {
        width: 100%;
        max-width: 999px;
    }
    .top {
        width: 100%;
        max-width: 999px;
    }
    .overlay {
        height: 100dvh;
        width: 811px;
        display: block;
    }
    .Contact {
        left: 60%;
        width: 6em;
    }
    .social-icon {
        left: 60%;
    }
    .information {
        padding-left: 10px;
        width: 98%;
        height: 50dvh;
        
    }
    .name {
        display: none;
    }
    .name2 {
        display: block;
        position: relative;
        font-size: 6.8em;
        padding: 0px;
        padding-left: 5%;
        margin: 0px;
        top: 10%;
        font-family: Poppins, Arial, Helvetica; 
        -webkit-text-stroke-color: black;
        text-align: left;
        width: 50%;
    }
    .tagline {
        width: 70%;
        padding: 5%;
        text-align: left;
        top: 1em;
    }
    .about {
        width: 70%;
        text-align: left;
        padding: 5%;
    }

}
@media only screen and (min-width: 601px) and (max-width: 810px) {
    .body {
        height: 100vh;
    }
    .main {
        width: 100%;
        max-width: 810px;
        height: 100vh;
    }
    .portrait {
        display: none;
    }
    .video {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .overlay {
        height: 100vh;
    }
    .Contact {
        left: 50%;
        width: 6em;
    }
    .social-icon {
        left: 50%;
    }
    .name {
        font-size: 5em;
        top: 10%;
    }
    .tagline {
        bottom: 1.5em;
    }
    .information {
        top: 5%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .body {
        height: 100vh;
    }
    .main {
        width: 100%;
        max-width: 600px;
        height: 100vh;
    }
    .portrait {
        display: none;
    }
    .video {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .overlay {
        height: 100vh;
    }
    .Contact {
        left: 40%;
        width: 6em;
    }
    .social-icon {
        left: 40%;
    }
    .name {
        font-size: 5em;
        top: 10%;
    }
    .tagline {
        bottom: 1.5em;
    }
    .about {
        display: none;
    }
    .information {
        top: 5%;
    }
}
@media only screen and (min-width: 381px) and (max-width: 480px) {
    .body {
        height: 100vh;
    }
    .main {
        width: 100%;
        max-width: 380px;
        height: 100vh;
    }
    .portrait {
        display: none;
    }
    .video {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .overlay {
        height: 100vh;
    }
    .Contact {
        left: 40%;
        width: 5em;
        font-size: 1.2em;
    }
    .social-icon {
        left: 40%;
        padding: 10px 5px 10px 5px;
    }
    .logo {
        height: 50%;
        width: 12%;
        padding-top: 15px;
    }
    .name {
        font-size: 4em;
    }
    .information {
        height: 90vh;
        width: 100%;
        top: 5%;
    }
    .tagline {
        bottom: 1.5em;
        font-size: 1.5em;
        padding: 5% 2% 5% 2%;
    }
    .about {
        display: none;
    }
    .lowButtons {
        font-size: 1.5em;;
        width: 60%;
    }
}
@media only screen and (max-width: 380px) {
    .body {
        height: 100vh;
    }
    .main {
        width: 100%;
        max-width: 380px;
        height: 100vh;
    }
    .portrait {
        display: none;
    }
    .video {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .overlay {
        height: 100vh;
    }
    .Contact {
        left: 55%;
        width: 6em;
    }
    .social-icon {
        display: none;
    }
    .name {
        font-size: 4em;
    }
    .information {
        height: 90vh;
        width: 100%;
    }
    .tagline {
        bottom: 1.5em;
        font-size: 1.5em;
        padding: 5% 2% 5% 2%;
    }
    .about {
        display: none;
    }
    .lowButtons {
        font-size: 1.5em;;
        width: 60%;
    }
}